* {
    box-sizing: border-box;
    margin: 0px;
}

html,
body {
    margin: 15px 0px 0px 15px;
    width: 100%;
    height: 100%;

}

.wrapper {
    width: 540px;
    height: 960px;
    background-color: white;
    border: 1px solid #AACDEF;
    border-radius: 20px;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wrapper__header {
    width: 380px;
    height: 47px;
    font-size: 32px;
    line-height: 47px;
    font-weight: 700;
    color: #0068FF;
    margin-top: 60px;
    margin-bottom: 20px;
}

.wrapper__body {
    width: 380px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.w__phone {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input::placeholder {
    padding-left: 10px;
}

.textbox01 {
    width:380px;
    height:60px;
    font-size:16px;
    border: 1px solid #D2D2D2;
    border-radius: 7px;
}

.textbox02 {
    width:100px;
    height:40px;
    font-size:16px;
    border: 1px solid #D2D2D2;
    border-radius: 7px;
}

.divideLine02 {
    width: 11px;
    border-top: 1px solid black;
    margin-top: 20px;
}

.w__token {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.token__num {
    font-size: 18px;
    font-weight: 500;
    color: #0068FF;
}

.token__send__btn {
    width: 120px;
    height: 100%;
    color: #0068FF;
    margin-left: 21px;
    background-color: #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
}

.token__ok__btn {
    width: 120px;
    height: 100%;
    color: #FFFFFF;
    margin-left: 21px;
    background-color: #0068FF;
    border: 1px solid #D2D2D2;
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
}

.select__location {
    width: 100%;
    height: 60px;
    display: flex;
    padding-left: 10px;
    border-radius: 7px;
    border: 1px solid #D2D2D2
}

.w__checkbox {
    width: 200px;
    height: 24px;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
}

.w__male {
    margin-left: 30px;
}
.w__female {
    margin-left: 30px;
}

.divideLine {
    width: 100%;
    border-top: 1px solid #E6E6E6;
}

.signup {
    width: 100%;
    height: 75px;
    background: #FFFFFF;
    border: 1px solid #0068FF;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0068FF;
    margin-bottom: 30px;
}